<div style="padding: 15px;">
  <div class="row">
    <div class="col-6 mb-3 text-left">
      <h5><b>จัดการฐานข้อมูลในระบบ</b></h5>
    </div>
    <div class="col-6 mb-3 text-right">
      <button
        type="button"
        class="btn btn-primary btn-sm "
        data-toggle="modal"
        data-target="#selectGroupDatabase"
        [disabled]="getDatabseResult == null"
      >
        <i class="fas fa-search"></i>&nbsp;เลือกฐานข้อมูลจากเซิฟเวอร์
      </button>
    </div>
  </div>
</div>

<!-- เลือกฐานข้อมูลจากเซิฟเวอร์ -->
<div
  class="modal fade"
  id="selectGroupDatabase"
  tabindex="-1"
  role="dialog"
  aria-labelledby="selectGroupDatabaseLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="selectGroupDatabaseLabel">
          เลือกฐานข้อมูลจากเซิฟเวอร์
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-4"></div>
          <div class="col-8">
            <mat-form-field>
              <input
                matInput
                placeholder="ค้นหาฐานข้อมูลจากเซิฟเวอร์"
                #searchDBServerInput
              />
            </mat-form-field>
          </div>
        </div>

        <div *ngIf="getDatabseResult != null">
          <div
            class="text-center"
            *ngIf="
              searchDatabase(getDatabseResult, searchDBServerInput.value)
                .length == 0
            "
          >
            <h5>ไม่พบฐานข้อมูล</h5>
          </div>
          <div style="overflow: auto;">
            <table
              class="table table-sm table-borderless table-striped table-hover"
              *ngIf="
                searchDatabase(getDatabseResult, searchDBServerInput.value)
                  .length > 0
              "
            >
              <thead>
                <tr>
                  <th></th>
                  <th>
                    ชื่อฐานข้อมูล
                  </th>

                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let x of searchDatabase(
                      getDatabseResult,
                      searchDBServerInput.value
                    )
                      | paginate
                        : {
                            id: 'pagiShowdatabase',
                            itemsPerPage: 10,
                            currentPage: pagiShowdatabase
                          };
                    let i = index
                  "
                >
                  <td style="vertical-align: middle; min-width: 30px;">
                    {{ pagiShowdatabase * 10 - 10 + (i + 1) }}
                  </td>
                  <td style="vertical-align: middle; min-width: 200px;">
                    {{ x.Database }}
                  </td>
                  <td style="vertical-align: middle;  min-width: 200px;">
                    <span
                      style="margin-left: 5px; margin-right: 5px; display: inline-block;"
                    >
                      <button type="button" class="btn btn-primary btn-sm">
                        <i class="fas fa-plus"></i>&nbsp;เพิ่มลงในระบบ
                      </button>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div
            class="text-center"
            *ngIf="
              searchDatabase(getDatabseResult, searchDBServerInput.value)
                .length > 10
            "
          >
            <pagination-controls
              id="pagiShowdatabase"
              responsive="true"
              previousLabel="ย้อนกลับ"
              nextLabel="ถัดไป"
              (pageChange)="pagiShowdatabase = $event"
            ></pagination-controls>
          </div>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            ปิด
          </button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>
</div>
