<div style="padding: 15px;">
  <div class="row">
    <div class="col-6 mb-3 text-left">
      <h5><b>จัดการกลุ่มเรียน</b></h5>
    </div>
    <div class="col-6 mb-3 text-right">
      <button
        type="button"
        class="btn btn-primary btn-sm "
        data-toggle="modal"
        data-target="#createGroup"
        (click)="openCreateGroup()"
        [disabled]="groupresult == null"
      >
        เพิ่มกลุ่มเรียน
      </button>
    </div>
  </div>
  <!--  flex-column-reverse flex-lg-row
  [ngClass]="{
          'text-right': !_windows.matchMedia('(min-width: 992px)').matches
        }"
  -->
  <div class="row">
    <div class="col-4">
      <div>
        <mat-form-field style="max-width: 150px;">
          <mat-label>จำนวนแถว</mat-label>
          <mat-select #rowShow value="10">
            <mat-option value="10">
              10
            </mat-option>
            <mat-option value="25">
              25
            </mat-option>
            <mat-option value="50">
              50
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-8">
      <mat-form-field>
        <input matInput placeholder="ค้นหากลุ่มเรียน" #searchGroupInput />
      </mat-form-field>
    </div>
  </div>
  <div
    class="spinner-border text-primary"
    role="status"
    *ngIf="groupresult == null"
  >
    <span class="sr-only">Loading...</span>
  </div>
  <div style="overflow: auto; " *ngIf="groupresult != null">
    <table class="table table-sm table-borderless table-striped table-hover">
      <thead>
        <tr>
          <th></th>
          <th
            (click)="
              groupOrder(
                orderByGroup.key == 'gName'
                  ? orderByGroup.order == 'asc'
                    ? 'desc'
                    : 'asc'
                  : 'asc',
                'gName'
              )
            "
            style="cursor: pointer;"
          >
            ชื่อกลุ่มเรียน<span
              style="display:inline-block; padding-left: 5px;"
              [ngStyle]="{
                color:
                  orderByGroup.order == 'asc' && orderByGroup.key == 'gName'
                    ? '#007bff'
                    : '#b0b0b0'
              }"
              ><i class="fas fa-arrow-up fa-sm"></i
            ></span>
            <span
              style="display:inline-block; padding-left: 3px;"
              [ngStyle]="{
                color:
                  orderByGroup.order == 'desc' && orderByGroup.key == 'gName'
                    ? '#007bff'
                    : '#b0b0b0'
              }"
              ><i class="fas fa-arrow-down fa-sm"></i
            ></span>
          </th>
          <th>รหัสผ่านกลุ่มเรียน</th>
          <th
            (click)="
              groupOrder(
                orderByGroup.key == 'gStatus'
                  ? orderByGroup.order == 'asc'
                    ? 'desc'
                    : 'asc'
                  : 'asc',
                'gStatus'
              )
            "
            style="cursor: pointer;"
          >
            สถานะกลุ่ม<span
              style="display:inline-block; padding-left: 5px;"
              [ngStyle]="{
                color:
                  orderByGroup.order == 'asc' && orderByGroup.key == 'gStatus'
                    ? '#007bff'
                    : '#b0b0b0'
              }"
              ><i class="fas fa-arrow-up fa-sm"></i
            ></span>
            <span
              style="display:inline-block; padding-left: 3px;"
              [ngStyle]="{
                color:
                  orderByGroup.order == 'desc' && orderByGroup.key == 'gStatus'
                    ? '#007bff'
                    : '#b0b0b0'
              }"
              ><i class="fas fa-arrow-down fa-sm"></i
            ></span>
          </th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let x of sortArray(
              searchGroup(groupresult, searchGroupInput.value),
              orderByGroup.order,
              orderByGroup.key
            )
              | paginate
                : { id: 'p', itemsPerPage: rowShow.value, currentPage: p };
            let i = index
          "
        >
          <th style="vertical-align: middle; min-width: 30px;">
            {{ p * rowShow.value - rowShow.value + (i + 1) }}
          </th>
          <td style="vertical-align: middle; min-width: 140px;">
            {{ x.gName }}
          </td>
          <td style="vertical-align: middle; min-width: 150px;">{{ x.gPw }}</td>
          <td
            style="vertical-align: middle; min-width: 120px;"
            [ngClass]="{
              'text-success': x.gStatus == 'เปิด',
              'text-danger font-weight-bold': x.gStatus == 'ปิด'
            }"
          >
            {{ x.gStatus }}
          </td>
          <td style="vertical-align: middle; min-width: 120px;">
            <button
              type="button"
              class="btn btn-primary btn-sm"
              data-toggle="modal"
              data-target="#manageStudent"
              (click)="selectStudent(x.gId, x.gName)"
            >
              จัดการนักศึกษา
            </button>
          </td>
          <td style="vertical-align: middle; min-width: 50px;">
            <span
              style="margin-left: 5px; margin-right: 5px; display: inline-block;"
            >
              <button
                type="button"
                class="btn btn-warning btn-sm"
                data-toggle="modal"
                data-target="#editGroup"
                (click)="openEditGroup(x.gName, x.gPw, x.gStatus, x.gId)"
              >
                แก้ไขกลุ่มเรียน
              </button></span
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center" *ngIf="groupresult != null">
    <pagination-controls
      id="p"
      responsive="true"
      previousLabel="ย้อนกลับ"
      nextLabel="ถัดไป"
      *ngIf="
        sortArray(
          searchGroup(groupresult, searchGroupInput.value),
          orderByGroup.order,
          orderByGroup.key
        ).length >= rowShow.value
      "
      (pageChange)="p = $event"
    ></pagination-controls>
  </div>
</div>

<!-- manageStudent -->
<div
  class="modal fade"
  id="manageStudent"
  tabindex="-1"
  role="dialog"
  aria-labelledby="manageStudentLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="manageStudentLabel">จัดการนักศึกษา</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <b>กลุ่มเรียน:&nbsp;{{ nameGroupStudent }}</b>
        </div>

        <div class="row">
          <div class="col-4">
            <div>
              <mat-form-field
                style="max-width: 150px;"
                [hidden]="
                  studentInGroup != null
                    ? studentInGroup.length <= 10
                      ? true
                      : false
                    : true
                "
              >
                <mat-label>จำนวนแถว</mat-label>
                <mat-select #rowShowStudent value="10">
                  <mat-option value="10">
                    10
                  </mat-option>
                  <mat-option value="25">
                    25
                  </mat-option>
                  <mat-option value="50">
                    50
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div
            class="col-8"
            [hidden]="
              studentInGroup != null
                ? studentInGroup.length <= 0
                  ? true
                  : false
                : true
            "
          >
            <mat-form-field>
              <input matInput placeholder="ค้นหานักศึกษา" #searchStudentText />
            </mat-form-field>
          </div>
        </div>

        <div *ngIf="studentInGroup != null">
          <div class="text-center" *ngIf="studentInGroup.length == 0">
            <h5>ไม่พบข้อมูลนักศึกษาในกลุ่ม</h5>
          </div>
          <div style="overflow: auto;">
            <table
              class="table table-sm table-borderless table-striped table-hover"
              *ngIf="studentInGroup.length > 0"
            >
              <thead>
                <tr>
                  <th></th>
                  <th
                    (click)="
                      studentOrder(
                        orderByStudent.key == 'studentId'
                          ? orderByStudent.order == 'asc'
                            ? 'desc'
                            : 'asc'
                          : 'asc',
                        'studentId'
                      )
                    "
                    style="cursor: pointer;"
                  >
                    รหัสนักศึกษา
                    <span
                      style="display:inline-block; padding-left: 5px;"
                      [ngStyle]="{
                        color:
                          orderByStudent.order == 'asc' &&
                          orderByStudent.key == 'studentId'
                            ? '#007bff'
                            : '#b0b0b0'
                      }"
                      ><i class="fas fa-arrow-up fa-sm"></i
                    ></span>
                    <span
                      style="display:inline-block; padding-left: 3px;"
                      [ngStyle]="{
                        color:
                          orderByStudent.order == 'desc' &&
                          orderByStudent.key == 'studentId'
                            ? '#007bff'
                            : '#b0b0b0'
                      }"
                      ><i class="fas fa-arrow-down fa-sm"></i
                    ></span>
                  </th>
                  <th
                    (click)="
                      studentOrder(
                        orderByStudent.key == 'fname'
                          ? orderByStudent.order == 'asc'
                            ? 'desc'
                            : 'asc'
                          : 'asc',
                        'fname'
                      )
                    "
                    style="cursor: pointer;"
                  >
                    ชื่อ
                    <span
                      style="display:inline-block; padding-left: 5px;"
                      [ngStyle]="{
                        color:
                          orderByStudent.order == 'asc' &&
                          orderByStudent.key == 'fname'
                            ? '#007bff'
                            : '#b0b0b0'
                      }"
                      ><i class="fas fa-arrow-up fa-sm"></i
                    ></span>
                    <span
                      style="display:inline-block; padding-left: 3px;"
                      [ngStyle]="{
                        color:
                          orderByStudent.order == 'desc' &&
                          orderByStudent.key == 'fname'
                            ? '#007bff'
                            : '#b0b0b0'
                      }"
                      ><i class="fas fa-arrow-down fa-sm"></i
                    ></span>
                  </th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let x of searchStudent(
                      studentInGroup,
                      searchStudentText.value
                    )
                      | paginate
                        : {
                            id: 'pagiShowStudent',
                            itemsPerPage: rowShowStudent.value,
                            currentPage: pagiShowStudent
                          };
                    let i = index
                  "
                >
                  <td style="vertical-align: middle; min-width: 30px;">
                    {{
                      p * rowShowStudent.value - rowShowStudent.value + (i + 1)
                    }}
                  </td>
                  <td style="vertical-align: middle; min-width: 150px;">
                    {{ x.studentId }}
                  </td>
                  <td style="vertical-align: middle; min-width: 250px;">
                    {{ x.prename }}{{ x.fname }}&nbsp;{{ x.lname }}
                  </td>
                  <td style="vertical-align: middle;">
                    <span
                      style="margin-left: 5px; margin-right: 5px; display: inline-block;"
                    >
                      <button
                        type="button"
                        class="btn btn-danger btn-sm"
                        (click)="deleteStudent(x.username)"
                      >
                        ลบออกจากกลุ่ม
                      </button>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="text-center" *ngIf="studentInGroup != null">
            <pagination-controls
              id="pagiShowStudent"
              responsive="true"
              previousLabel="ย้อนกลับ"
              nextLabel="ถัดไป"
              *ngIf="
                searchStudent(studentInGroup, searchStudentText.value).length >=
                rowShowStudent.value
              "
              (pageChange)="pagiShowStudent = $event"
            ></pagination-controls>
          </div>
        </div>
        <div
          class="spinner-border text-primary"
          role="status"
          *ngIf="studentInGroup == null"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          ปิด
        </button>
      </div> -->
    </div>
  </div>
</div>

<!-- editGroup -->
<div
  class="modal fade"
  id="editGroup"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editGroupLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="formGroup">
      <form [formGroup]="formGroup" (ngSubmit)="submitEditGroup()">
        <div class="modal-header">
          <h5 class="modal-title" id="editGroupLabel">แก้ไขกลุ่มเรียน</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <mat-form-field>
              <input
                matInput
                placeholder="ชื่อกลุ่มเรียน"
                formControlName="name"
              />
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <input
                matInput
                placeholder="รหัสผ่านกลุ่มเรียน"
                formControlName="password"
                (keydown)="$event.key == ' ' ? $event.preventDefault() : ''"
              />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>สถานะกลุ่ม</mat-label>
              <mat-select formControlName="status">
                <mat-option [value]="'เปิด'">
                  เปิด
                </mat-option>
                <mat-option [value]="'ปิด'">
                  ปิด
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            ปิด
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="formGroup.invalid"
          >
            บันทึก
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- createGroup -->
<div
  class="modal fade"
  id="createGroup"
  tabindex="-1"
  role="dialog"
  aria-labelledby="createGroupLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="formGroup">
      <form [formGroup]="formGroup" (ngSubmit)="submitCreateGroup()">
        <div class="modal-header">
          <h5 class="modal-title" id="createGroupLabel">เพิ่มกลุ่มเรียน</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <mat-form-field>
              <input
                matInput
                placeholder="ชื่อกลุ่มเรียน"
                formControlName="name"
              />
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <input
                matInput
                placeholder="รหัสผ่านกลุ่มเรียน"
                formControlName="password"
                (keydown)="$event.key == ' ' ? $event.preventDefault() : ''"
              />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>สถานะกลุ่ม</mat-label>
              <mat-select formControlName="status">
                <mat-option [value]="'เปิด'">
                  เปิด
                </mat-option>
                <mat-option [value]="'ปิด'">
                  ปิด
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            ปิด
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="formGroup.invalid"
          >
            บันทึก
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
