<div style="padding: 15px;">
  <div class="row">
    <div class="col-6 mb-3 text-left">
      <h5><b>จัดการกลุ่มเรียน</b></h5>
    </div>
    <div class="col-6 mb-3 text-right">
      <button
        type="button"
        class="btn btn-primary btn-sm "
        data-toggle="modal"
        data-target="#createGroup"
        (click)="openCreateGroup()"
      >
        <i class="fa fa-plus-circle" aria-hidden="true"></i
        >&nbsp;เพิ่มกลุ่มเรียน
      </button>
    </div>
  </div>
  <!--  flex-column-reverse flex-lg-row
  [ngClass]="{
          'text-right': !_windows.matchMedia('(min-width: 992px)').matches
        }"
  -->
  <div class="row">
    <div class="col-4">
      <div>
        <mat-form-field style="max-width: 150px;">
          <mat-label>จำนวนแถว</mat-label>
          <mat-select #rowShow value="10">
            <mat-option value="10">
              10
            </mat-option>
            <mat-option value="25">
              25
            </mat-option>
            <mat-option value="50">
              50
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-8">
      <mat-form-field>
        <input matInput placeholder="ค้นหากลุ่มเรียน" />
      </mat-form-field>
    </div>
  </div>
  <div
    class="spinner-border text-primary"
    role="status"
    *ngIf="groupresult == null"
  >
    <span class="sr-only">Loading...</span>
  </div>
  <div style="overflow: auto; " *ngIf="groupresult != null">
    <table class="table table-sm table-borderless table-striped table-hover">
      <thead>
        <tr>
          <th></th>
          <th>ชื่อกลุ่มเรียน</th>
          <th>รหัสผ่านกลุ่มเรียน</th>
          <th>สถานะกลุ่ม</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let x of groupresult
              | paginate: { itemsPerPage: rowShow.value, currentPage: p };
            let i = index
          "
        >
          <th style="vertical-align: middle; min-width: 30px;">{{ i + 1 }}</th>
          <td style="vertical-align: middle; min-width: 120px;">
            {{ x.gName }}
          </td>
          <td style="vertical-align: middle; min-width: 150px;">{{ x.gPw }}</td>
          <td style="vertical-align: middle; min-width: 100px;">
            {{ x.gStatus }}
          </td>
          <td style="vertical-align: middle; min-width: 120px;">
            <button
              type="button"
              class="btn btn-primary btn-sm"
              data-toggle="modal"
              data-target="#manageStudent"
              (click)="selectStudent(x.gId)"
            >
              จัดการนักศึกษา
            </button>
          </td>
          <td style="vertical-align: middle; min-width: 50px;">
            <span
              style="margin-left: 5px; margin-right: 5px; display: inline-block;"
            >
              <button
                type="button"
                class="btn btn-warning btn-sm"
                data-toggle="modal"
                data-target="#editGroup"
                (click)="openEditGroup(x.gName, x.gPw, x.gStatus, x.gId)"
              >
                <i class="fas fa-edit"></i></button
            ></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center" *ngIf="groupresult">
    <pagination-controls
      *ngIf="groupresult.length >= rowShow.value"
      (pageChange)="p = $event"
    ></pagination-controls>
  </div>
</div>

<!-- manageStudent -->
<div
  class="modal fade"
  id="manageStudent"
  tabindex="-1"
  role="dialog"
  aria-labelledby="manageStudentLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="manageStudentLabel">จัดการนักศึกษา</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-4">
            <div>
              <mat-form-field
                style="max-width: 150px;"
                [hidden]="
                  studentInGroup != null
                    ? studentInGroup.length <= 10
                      ? true
                      : false
                    : true
                "
              >
                <mat-label>จำนวนแถว</mat-label>
                <mat-select #rowShowStudent value="10">
                  <mat-option value="10">
                    10
                  </mat-option>
                  <mat-option value="25">
                    25
                  </mat-option>
                  <mat-option value="50">
                    50
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-8">
            <mat-form-field>
              <input matInput placeholder="ค้นหานักษศึกษา" />
            </mat-form-field>
          </div>
        </div>

        <div *ngIf="studentInGroup != null">
          <div class="text-center" *ngIf="studentInGroup.length == 0">
            <h5>ไม่พบข้อมูลนักศึกษาในกลุ่ม</h5>
          </div>
          <div style="overflow: auto;">
            <table
              class="table table-sm table-borderless table-striped table-hover"
              *ngIf="studentInGroup.length > 0"
            >
              <thead>
                <tr>
                  <th></th>
                  <th>รหัสนักศึกษา</th>
                  <th>ชื่อ</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let x of studentInGroup
                      | paginate
                        : {
                            itemsPerPage: rowShowStudent.value,
                            currentPage: pagiShowStudent
                          };
                    let i = index
                  "
                >
                  <td style="vertical-align: middle; min-width: 30px;">
                    {{ i + 1 }}
                  </td>
                  <td style="vertical-align: middle; min-width: 130px;">
                    {{ x.studentId }}
                  </td>
                  <td style="vertical-align: middle; min-width: 230px;">
                    {{ x.prename }}{{ x.fname }}&nbsp;{{ x.lname }}
                  </td>
                  <td style="vertical-align: middle;">
                    <span
                      style="margin-left: 5px; margin-right: 5px; display: inline-block;"
                    >
                      <button
                        type="button"
                        class="btn btn-danger"
                        (click)="deleteStudent(x.username)"
                      >
                        <i class="fas fa-trash-alt"></i>
                      </button>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="text-center" *ngIf="groupresult">
            <pagination-controls
              *ngIf="groupresult.length >= rowShowStudent.value"
              (pageChange)="pagiShowStudent = $event"
            ></pagination-controls>
          </div>
        </div>
        <div *ngIf="studentInGroup == null">
          <h5>กำลังโหลดอยู่...แป๊ปนึงนะจารย์</h5>
        </div>
        <div
          class="spinner-border text-primary"
          role="status"
          *ngIf="studentInGroup == null"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          ปิด
        </button>
      </div> -->
    </div>
  </div>
</div>

<!-- editGroup -->
<div
  class="modal fade"
  id="editGroup"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editGroupLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" *ngIf="formGroup">
      <form [formGroup]="formGroup" (ngSubmit)="submitEditGroup()">
        <div class="modal-header">
          <h5 class="modal-title" id="editGroupLabel">แก้ไขกลุ่มเรียน</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <mat-form-field>
              <input
                matInput
                placeholder="ชื่อกลุ่มเรียน"
                formControlName="name"
                #nameEdit
              />
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <input
                matInput
                placeholder="รหัสผ่านกลุ่มเรียน"
                formControlName="password"
                #passwordEdit
              />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>สถานะกลุ่ม</mat-label>
              <mat-select formControlName="status">
                <mat-option [value]="'เปิด'">
                  เปิด
                </mat-option>
                <mat-option [value]="'ปิด'">
                  ปิด
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            ปิด
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="
              nameEdit.value == '' || passwordEdit.value == '' ? true : false
            "
          >
            ยืนยัน
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- createGroup -->
<div
  class="modal fade"
  id="createGroup"
  tabindex="-1"
  role="dialog"
  aria-labelledby="createGroupLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" *ngIf="formGroup">
      <form [formGroup]="formGroup" (ngSubmit)="submitCreateGroup()">
        <div class="modal-header">
          <h5 class="modal-title" id="createGroupLabel">เพิ่มกลุ่มเรียน</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <mat-form-field>
              <input
                matInput
                placeholder="ชื่อกลุ่มเรียน"
                formControlName="name"
                #name
              />
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <input
                matInput
                placeholder="รหัสผ่านกลุ่มเรียน"
                formControlName="password"
                #password
              />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>สถานะกลุ่ม</mat-label>
              <mat-select formControlName="status">
                <mat-option [value]="'เปิด'">
                  เปิด
                </mat-option>
                <mat-option [value]="'ปิด'">
                  ปิด
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            ปิด
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="name.value == '' || password.value == '' ? true : false"
          >
            ยืนยัน
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
