<div style="padding:15px;">
  <div
    class="row justify-content-center"
    style="margin-top :20px;margin-bottom: 60px;"
  >
    <div class="col-xl-5 col-lg-6 col-md-8">
      <form #formChange="ngForm" (ngSubmit)="submitChangPass(formChange)">
        <div class="text-center mb-3" style="margin-top: 100px;">
          <h5>
            <b>เปลียนรหัสผ่าน</b>
          </h5>
        </div>

        <div class="text-center mb-3">
          <div>
            <mat-form-field>
              <input
                matInput
                placeholder="รหัสผ่าน (Password)"
                name="password"
                type="password"
                required
                ngModel
                #password
              />
            </mat-form-field>
          </div>
          <div class="mb-3">
            <mat-form-field>
              <input
                matInput
                placeholder="ยืนยันรหัสผ่าน (Password)"
                name="password2"
                type="password"
                required
                ngModel
                #password2
              />
            </mat-form-field>
          </div>

          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="
              password.value == '' || password2.value == '' ? true : false
            "
          >
            ยืนยัน
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
