<div style="padding: 15px;">
  <div class="row">
    <div class="col-6 mb-3 text-left">
      <h5><b>จัดการเซสชั่น</b></h5>
    </div>
    <div class="col-6 mb-3 text-right">
      <button
        type="button"
        class="btn btn-danger btn-sm "
        (click)="deleteAllSelect()"
      >
        ลบที่เลือก
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div>
        <mat-form-field style="max-width: 150px;">
          <mat-label>จำนวนแถว</mat-label>
          <mat-select #rowShow value="10">
            <mat-option value="10">
              10
            </mat-option>
            <mat-option value="25">
              25
            </mat-option>
            <mat-option value="50">
              50
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-8">
      <mat-form-field>
        <input
          matInput
          placeholder="ค้นหานักศึกษา"
          #searchStudentInput
          (keydown)="p = 1"
        />
      </mat-form-field>
    </div>
  </div>

  <div
    class="spinner-border text-primary"
    role="status"
    *ngIf="accessStudentrecord == null"
  >
    <span class="sr-only">Loading...</span>
  </div>
  <div *ngIf="accessStudentrecord != null">
    <div style="overflow: auto;" *ngIf="accessStudentrecord.length > 0">
      <table class="table table-sm table-borderless table-striped table-hover">
        <thead>
          <tr>
            <th class="text-center">
              <input
                type="checkbox"
                aria-label="Checkbox Header"
                (change)="checkEvent()"
                [(ngModel)]="checkAllselect"
              />
            </th>
            <th></th>
            <th>
              ชื่อนักศึกษา
            </th>
            <th>
              ที่อยู่ไอพี
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let x of searchStudent(
                accessStudentrecord,
                searchStudentInput.value
              )
                | paginate
                  : { id: 'p', itemsPerPage: rowShow.value, currentPage: p };
              let i = index
            "
          >
            <th
              style="vertical-align: middle; min-width: 30px;"
              class="text-center"
            >
              <input
                type="checkbox"
                aria-label="Checkbox Body"
                id="check_{{ x.username }}"
                (change)="checkAllselect = false"
              />
            </th>
            <th
              style="vertical-align: middle; min-width: 30px;"
              (click)="tableCheck(x.username); checkAllselect = false"
            >
              {{ p * rowShow.value - rowShow.value + (i + 1) }}
            </th>
            <td
              style="vertical-align: middle; min-width: 120px;"
              (click)="tableCheck(x.username); checkAllselect = false"
            >
              {{ x.prename }}{{ x.fname }}&nbsp; {{ x.lname }}
            </td>
            <td
              style="vertical-align: middle; min-width: 150px;"
              (click)="tableCheck(x.username); checkAllselect = false"
            >
              {{ x.ipaddress }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="text-center" *ngIf="accessStudentrecord">
      <pagination-controls
        id="p"
        responsive="true"
        previousLabel="ย้อนกลับ"
        nextLabel="ถัดไป"
        *ngIf="accessStudentrecord.length >= rowShow.value"
        (pageChange)="p = $event"
      ></pagination-controls>
    </div>

    <div *ngIf="accessStudentrecord.length <= 0" class="text-center">
      <h5>ไม่พบเซสชั่น</h5>
    </div>
  </div>
</div>
