<div style="padding: 15px;">
  <div class="row">
    <div class="col-6 mb-3 text-left">
      <h5><b>จัดการฐานข้อมูลในเซิร์ฟเวอร์</b></h5>
    </div>
    <div class="col-6 mb-3 text-right">
      <button type="button" class="btn btn-primary btn-sm">
        เพิ่มฐานข้อมูล
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div>
        <mat-form-field style="max-width: 150px;">
          <mat-label>จำนวนแถว</mat-label>
          <mat-select #rowShowDBServer value="10">
            <mat-option value="10">
              10
            </mat-option>
            <mat-option value="25">
              25
            </mat-option>
            <mat-option value="50">
              50
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-8">
      <mat-form-field>
        <input
          matInput
          placeholder="ค้นหาฐานข้อมูลในเซิร์ฟเวอร์"
          #searchDBServerInput
          (keydown)="pagiShowdatabase = 1"
        />
      </mat-form-field>
    </div>
  </div>
  <div
    class="spinner-border text-primary"
    role="status"
    *ngIf="getDatabseResult == null"
  >
    <span class="sr-only">Loading...</span>
  </div>

  <div
    class="accordion mb-3"
    id="accordionExample1"
    *ngIf="getDatabseResult != null"
  >
    <div
      class="text-center"
      *ngIf="
        searchDatabase(getDatabseResult, searchDBServerInput.value).length == 0
      "
    >
      <h5>ไม่พบฐานข้อมูล</h5>
    </div>
    <div
      class="card border"
      *ngFor="
        let x of searchDatabase(getDatabseResult, searchDBServerInput.value)
          | paginate
            : {
                id: 'pagiShowdatabase',
                itemsPerPage: rowShowDBServer.value,
                currentPage: pagiShowdatabase
              };
        let i = index
      "
    >
      <div class="card-header" id="headingOne{{ i }}">
        <div class="float-left">
          <span style="display: inline-block;min-width: 250px;">
            <b>ชื่อฐานข้อมูล : </b>{{ x.Database }}
          </span>
        </div>
        <div class="float-right">
          <button
            type="button"
            class="btn btn-link btn-sm"
            data-toggle="collapse"
            [attr.data-target]="'#collapseOne' + i"
            aria-expanded="true"
            [attr.aria-controls]="'collapseOne' + i"
            (click)="getTable(x.Database); pagiShowTable = 1"
          >
            แสดงข้อมูล
          </button>
        </div>
      </div>

      <div
        id="collapseOne{{ i }}"
        class="collapse"
        [attr.aria-labelledby]="'headingOne' + i"
        data-parent="#accordionExample1"
      >
        <div class="card-body">
          <div
            class="spinner-border text-primary"
            role="status"
            *ngIf="getTablet == null"
          >
            <span class="sr-only">Loading...</span>
          </div>
          <div *ngIf="getTablet != null">
            <div *ngIf="getTablet.length <= 0" class="text-center">
              <h5>ไม่พบตาราง</h5>
            </div>
            <div style="overflow: auto;" *ngIf="getTablet.length > 0">
              <table
                class="table table-sm table-borderless table-striped table-hover"
              >
                <thead>
                  <tr>
                    <th></th>
                    <th>
                      ชื่อตาราง
                    </th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let g of getTablet
                        | paginate
                          : {
                              id: 'pagiShowTable' + i,
                              itemsPerPage: 10,
                              currentPage: pagiShowTable
                            };
                      let j = index
                    "
                  >
                    <td style="vertical-align: middle; min-width: 30px;">
                      {{ pagiShowTable * 10 - 10 + (j + 1) }}
                    </td>
                    <td style="vertical-align: middle; min-width: 200px;">
                      {{ g.table_name }}
                    </td>
                    <td style="vertical-align: middle; min-width: 200px;">
                      <button
                        type="button"
                        class="btn btn-primary btn-sm"
                        data-toggle="modal"
                        data-target="#showDatabase"
                        (click)="getResultTable(x.Database, g.table_name)"
                      >
                        <i class="fas fa-search"></i>&nbsp;ดูข้อมูล
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="text-center">
              <pagination-controls
                *ngIf="getTablet.length > 10"
                id="pagiShowTable{{ i }}"
                responsive="true"
                previousLabel="ย้อนกลับ"
                nextLabel="ถัดไป"
                (pageChange)="pagiShowTable = $event"
              ></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="text-center mt-3"
      *ngIf="
        searchDatabase(getDatabseResult, searchDBServerInput.value).length > 10
      "
    >
      <pagination-controls
        id="pagiShowdatabase"
        responsive="true"
        previousLabel="ย้อนกลับ"
        nextLabel="ถัดไป"
        (pageChange)="pagiShowdatabase = $event"
      ></pagination-controls>
    </div>
  </div>
</div>

<!-- ดูตาราง -->
<div
  class="modal fade bd-example-modal-lg"
  id="showDatabase"
  tabindex="-1"
  role="dialog"
  aria-labelledby="showDatabaseLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="showDatabaseLabel">
          ตาราง&nbsp;{{ nameTable }}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div
          class="spinner-border text-primary"
          role="status"
          *ngIf="resultTable == null"
        >
          <span class="sr-only">Loading...</span>
        </div>
        <div *ngIf="resultTable != null">
          <h5 *ngIf="getKeyObject(resultTable).length <= 0">
            ไม่พบข้อมูลในตารางนี้
          </h5>
          <div style="overflow: auto;">
            <table
              class="table table-sm table-bordered"
              *ngIf="getKeyObject(resultTable).length > 0"
            >
              <thead>
                <tr>
                  <th *ngFor="let x of getKeyObject(resultTable)">{{ x }}</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let x of resultTable
                      | paginate
                        : {
                            id: 'pagiShowdatabaseResult',
                            itemsPerPage: 10,
                            currentPage: pagiShowdatabaseResult
                          };
                    let i = index
                  "
                >
                  <td
                    style="text-overflow: ellipsis;
                white-space: nowrap;"
                    *ngFor="let xx of getKeyObject(x)"
                  >
                    {{ x[xx] }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="text-center" *ngIf="resultTable.length > 10">
            <pagination-controls
              id="pagiShowdatabaseResult"
              responsive="true"
              previousLabel="ย้อนกลับ"
              nextLabel="ถัดไป"
              (pageChange)="pagiShowdatabaseResult = $event"
            ></pagination-controls>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div> -->
    </div>
  </div>
</div>
