/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

* {
  // font-family: "Prompt", sans-serif !important;
  font-family: "K2D", sans-serif !important;
  // font-family: "Thasadith", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: unset !important;
}

// body.swal2-height-auto {
//   all: unset !important;
// }

.material-icons {
  font-family: "Material Icons" !important;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed !important;
}

.spinner-circle {
  position: fixed !important;
}

.mat-list-item {
  height: 40px !important;
}

// .modal-dialog {
//   position: fixed;
//   z-index: 1500;
// }

mat-form-field {
  width: 100%;
  line-height: unset !important;
}
.cdk-overlay-container {
  z-index: 2000;
}
.ngx-pagination {
  margin: unset !important;
  padding: unset !important;
}
